<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/lib/paper.min.css">
  <link rel="stylesheet" href="/lib/custom.css">
  <script defer src="/lib/custom.js"></script>
  <title>Quiz Dashboard</title>
</head>

<body>
  <div class="padding-large">
    <div class="paper container-lg flex-middle row">
      <h2 class="margin-none padding-none col" style="margin-right: auto">Quiz Monitor</h2>
      <button id="btn-refresh" type="button" class="btn-secondary-outline col">
        Refresh
      </button>
    </div>
    <div class="paper container-lg">
      <div style=" overflow-x: auto">
        <table id="the-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>State</th>
              <th>Score</th>
              {{ range .Questions }}
                <th title="{{ .Body }}" onclick="alert(`{{ .Body }}`)">
                  {{ .Number }}
                </th>
              {{ end }}
            </tr>
          </thead>
          <tbody>
            {{ range $i, $student := .Students }}
              <tr>
                <td>
                  {{ $i = add $i 1 }}
                </td>
                <td style="white-space: nowrap;">
                  {{ .Fullname }}
                </td>
                <td>
                  {{ if eq .Status "Working" }}
                    <span class="badge secondary">
                      {{ .Status }}
                    </span>
                  {{ else if eq .Status "Online" }}
                    <span class="badge success">
                      {{ .Status }}
                    </span>
                  {{ else }}
                    <span class="badge">
                      {{ .Status }}
                    </span>
                  {{ end }}
                </td>
                <td>
                  {{ .Score.Value }}
                </td>
                {{ range .Answers }}
                  <td>
                    {{ if eq .ID 0 }}
                    ⚫
                    {{ else if eq .Correct true }}
                    🟢
                    {{ else }}
                    🔴
                    {{ end }}
                  </td>
                {{ end }}
              </tr>
              {{ end }}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</body>

</html>